/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 2, ../partials/_commonstyles.scss */
html body {
  font-family: Arial;
  font-size: 1.0em;
  background-color: rgba(255, 234, 206, 0.58);
}
/* line 6, ../partials/_commonstyles.scss */
html body .head {
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 10em;
  margin-top: -1.4em;
  text-align: center;
}
/* line 13, ../partials/_commonstyles.scss */
html body .head h1 {
  padding-top: 1em;
}
/* line 16, ../partials/_commonstyles.scss */
html body .head h5 {
  padding-left: 16em;
  margin-top: -1.5em;
}
/* line 20, ../partials/_commonstyles.scss */
html body .head h5 {
  font-size: 0.8em;
}
/* line 24, ../partials/_commonstyles.scss */
html body h4 {
  font-size: 3.0em;
}
/* line 27, ../partials/_commonstyles.scss */
html body h5 {
  font-size: 2.0em;
}
/* line 30, ../partials/_commonstyles.scss */
html body h6 {
  font-size: 1.7em;
}
/* line 35, ../partials/_commonstyles.scss */
html body .flexslider .slides li {
  list-style-type: none;
  padding: 3em;
}
/* line 38, ../partials/_commonstyles.scss */
html body .flexslider .slides li img {
  max-width: 900px;
  height: auto;
}

/* line 1, ../partials/_navigation.scss */
nav {
  width: 960px;
  margin: 5% 0 5% 20%;
}

/* line 5, ../partials/_navigation.scss */
nav ul {
  padding: 0px;
  margin: 0px;
}

/* line 9, ../partials/_navigation.scss */
nav ul:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/* line 17, ../partials/_navigation.scss */
nav ul, nav ul li {
  background-color: #FAFAFA;
}

/* line 20, ../partials/_navigation.scss */
nav ul li {
  list-style: none;
  float: left;
}

/* line 24, ../partials/_navigation.scss */
nav ul li a {
  text-decoration: none;
  display: block;
  color: #333;
  padding: 14px 34px 14px 34px;
}

/* line 30, ../partials/_navigation.scss */
nav ul li:hover > ul {
  visibility: visible;
}

/* line 33, ../partials/_navigation.scss */
nav ul li ul {
  display: inline;
  visibility: hidden;
  position: absolute;
  padding: 0px;
}

/* line 39, ../partials/_navigation.scss */
nav ul li ul li {
  float: none;
}

/* line 42, ../partials/_navigation.scss */
nav ul li ul li a:hover {
  color: #333;
}

/* line 48, ../partials/_navigation.scss */
nav ul {
  padding: 0px;
  margin: 0px;
  box-shadow: 2px 2px 2px #dfdfdf;
  -moz-box-shadow: 2px 2px 2px #dfdfdf;
  -webkit-box-shadow: 2px 2px 2px #dfdfdf;
}

/* line 56, ../partials/_navigation.scss */
nav ul li {
  list-style: none;
  float: left;
  border-right: 1px solid #dfdfdf;
}

/* line 61, ../partials/_navigation.scss */
nav ul li a {
  text-decoration: none;
  display: block;
  color: #333;
  padding: 14px 34px 14px 34px;
  transition: background 0.3s ease-out;
  /* explorer 10 */
  -webkit-transition: background 0.3s ease-out;
  /* chrome & safari */
  -moz-transition: background 0.3 ease-out;
  /* firefox */
  -o-transition: background 0.3 ease-out;
  /* opera */
}

/* line 72, ../partials/_navigation.scss */
nav ul li.cat1:hover a, nav ul li.cat1:hover > ul li a {
  background-color: #E6DD00;
}

/* line 75, ../partials/_navigation.scss */
nav ul li.cat2:hover a, nav ul li.cat2:hover > ul li a {
  background-color: #8CB302;
}

/* line 78, ../partials/_navigation.scss */
nav ul li.cat3:hover a, nav ul li.cat3:hover > ul li a {
  background-color: #008C74;
}

/* line 81, ../partials/_navigation.scss */
nav ul li.cat4:hover a, nav ul li.cat4:hover > ul li a {
  background-color: #004C66;
}

/* line 84, ../partials/_navigation.scss */
nav ul li.cat5:hover a, nav ul li.cat5:hover > ul li a {
  background-color: #332B40;
}

/* line 87, ../partials/_navigation.scss */
nav ul li:hover > a {
  color: #FAFAFA;
}

/* line 90, ../partials/_navigation.scss */
nav ul li ul li a {
  color: #FAFAFA;
}

/* line 93, ../partials/_navigation.scss */
nav ul li ul li a:hover {
  color: #333;
  background-color: #FAFAFA !important;
}
